<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Sailesh Journal</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Acme&family=Georama:wght@200&family=Pacifico&family=Roboto+Slab&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Lobster" rel="stylesheet">

  <nav class="nnn navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand nb1">SAILESH JOURNAL</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="home"><a href="/">Home</a></li>
          <li id="contact"><a href="/contact">Contact Us</a></li>
        </ul>
    </div>
  </nav>

  <body>
    <div class="container">
