<%- include("partials/header"); -%>
<h1 id="h">Contact</h1>

<p><b>Post to: </b></p>

<p> 432/A,<br>Bosco Street, <br /> Gandhi Nagar, Vellore. <br /> Pincode - 632006</p>

<a href="https://www.linkedin.com/in/sailesh-n-6b8540118">
  <img alt="linkedin-icon" src="https://cdn3.iconfinder.com/data/icons/brands-applications/512/linked_in-256.png" height="30px" width="30px">
</a>
<a href="https://www.facebook.com/sailesh.nama">
  <img alt="fb-ion" src="https://cdn1.iconfinder.com/data/icons/social-media-rounded-corners/512/Rounded_Facebook_svg-512.png" height="30px" width="30px">
</a>
<br>
<br>
<img style="float: left;" src="https://cdn2.iconfinder.com/data/icons/font-awesome/1792/phone-256.png" height="30px" width="30px">
<p class="contact">+91 8300784804</p>
<img style="float: left;" src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-email-256.png" height="30px" width="30px">
<p class="contact">saileshsathi@gmail.com</p>
<%- include("partials/footer"); -%>
